In [2]:
import pandas as pd

# Задание 1
Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:

если источник traffic_source равен yandex или google, то в source_type ставится organic
для источников paid и email из России - ставим ad
для источников paid и email не из России - ставим other
все остальные варианты берем из traffic_source без изменений

In [13]:
data = pd.read_csv('visit_log.csv', sep=';')
data.head()

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex

In [14]:
data.loc[:, ['traffic_source']].head()

  traffic_source
0         yandex
1         direct
2         yandex
3         yandex
4         yandex

In [22]:
data.loc[(data.traffic_source == 'yandex') | (data.traffic_source == 'google'), 'source_type'] = 'organic'
data.loc[((data.traffic_source == 'paid') | (data.traffic_source == 'email')) & (data.region == 'Russia'), 'source_type'] = 'ad'
data.head()

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,NaN
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic

In [27]:
data.loc[data.traffic_source == 'email'].head()

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
9,1549980765,3e7077fd2f,https://host.ru/df646c3676cc259fa0,Russia,6f9de8c8b6,email,ad
20,1549980816,de47c9b27e,https://host.ru/8fe7c39e5c598bbc54,Ukraine,2f25b6e26a,email,NaN
23,1549980839,015275e61f,https://host.ru/c8d9213a31839f9a3a,Russia,21bdc57777,email,ad
27,1549980853,ea49aa9f6f,https://host.ru/1afc5618562365020a,Russia,20e8e91ecf,email,ad
33,1549980897,7f9c9e31ac,https://host.ru/ac2d98a5a63e7c6e28,Belarus,38f45e7f9b,email,NaN

# Задание 2
В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:

Прочитайте содержимое файла с датафрейм
Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [31]:
data2 = pd.read_csv('URLs.txt')
data2.head()

                                                 url
0                                            /world/
1                                           /latest/
2                                      /?updated=top
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...

In [37]:
result = data2[data2.url.str.contains('/\d\d\d\d\d\d\d\d-')]
result.head()

                                                 url
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...
5  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6  /video/36001498-poyavilis-pervye-podrobnosti-g...
7  /world/36007585-tramp-pridumal-kak-reshit-ukra...

# Домашнее задание 3
В датафрейме data создайте столбец lemmas, в котором вычислите леммы поисковых запросов из столбца keyword. Леммы должны иметь строковый тип.

In [ ]:
## Прошу принять задачу в таком виде. Возникли сложности в установки, не удалось решить с аспирантами

In [3]:
!pip install pymystem3

Requirement already satisfied: pymystem3 in c:\users\slepunat\appdata\local\continuum\anaconda3\lib\site-packages (0.1.10)
Requirement already satisfied: requests in c:\users\slepunat\appdata\local\continuum\anaconda3\lib\site-packages (from pymystem3) (2.22.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\slepunat\appdata\local\continuum\anaconda3\lib\site-packages (from requests->pymystem3) (1.24.2)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\slepunat\appdata\local\continuum\anaconda3\lib\site-packages (from requests->pymystem3) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\slepunat\appdata\local\continuum\anaconda3\lib\site-packages (from requests->pymystem3) (2019.9.11)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\slepunat\appdata\local\continuum\anaconda3\lib\site-packages (from requests->pymystem3) (2.8)

In [4]:
from pymystem3 import Mystem
ms = Mystem()

In [18]:
!pip install pymystem3==0.1.10

Requirement already satisfied: pymystem3==0.1.10 in c:\users\slepunat\appdata\local\continuum\anaconda3\lib\site-packages (0.1.10)
Requirement already satisfied: requests in c:\users\slepunat\appdata\local\continuum\anaconda3\lib\site-packages (from pymystem3==0.1.10) (2.22.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\slepunat\appdata\local\continuum\anaconda3\lib\site-packages (from requests->pymystem3==0.1.10) (1.24.2)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\slepunat\appdata\local\continuum\anaconda3\lib\site-packages (from requests->pymystem3==0.1.10) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\slepunat\appdata\local\continuum\anaconda3\lib\site-packages (from requests->pymystem3==0.1.10) (2019.9.11)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\slepunat\appdata\local\continuum\anaconda3\lib\site-packages (from requests->pymystem3==0.1.10) (2.8)

In [5]:
data3 = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})

In [8]:
data3.head()

                 keyword   shows
0    курс гривны к рублю  125076
1        доллары в рубли  114173
2  100 долларов в рублях   97534
3             курс рубля   53546

In [8]:
def lemmatize(row):
    return ''.join(ms.lemmatize(row.keyword))
data3['lemmas'] = data3.apply(lemmatize, axis = 1)
data3

                 keyword   shows                 lemmas
0    курс гривны к рублю  125076  курс гривна к рубль\n
1        доллары в рубли  114173       доллар в рубль\n
2  100 долларов в рублях   97534   100 доллар в рубль\n
3             курс рубля   53546           курс рубль\n